doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title= titulo
  link(rel='stylesheet' href='style.css')
.container
  h1 Hola Mam&aacute; estoy probando el codigo
  button(data-tooltip='tooltip text') Hover me
  ul
    li
      | Inner list 1
      ol
        li One
        li Two
        li Three
    li
      | Inner list 2
      ul
        li One
        li Two
        li Three
  h2 Intro
  h2 Body
  h2 Conclusion
script(defer='' src='index.js')